---
layout: default
title: "Urchade Zaratiana"
---
<style>
    .card {
        margin-bottom: 1rem; /* Space between cards */
    }
</style>
<style>
.clickable-element {
    color: #ef476f; /* Bootstrap secondary gray */
    cursor: pointer;
}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">Urchade Zaratiana &#x1F1F2;&#x1F1EC;</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#research">Research</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="assets/cv.pdf">CV</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<style>
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            color: #333;
        }
        .profile {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            line-height: 1.6;
        }
        .profile p {
            margin: 0 0 10px;
            text-align: justify;
        }
        strong {
            color: #007bff;
            font-weight: bold;
        }
        em {
            font-style: italic;
        }
        @media (max-width: 820px) {
            .profile {
                margin: 20px 10px;
            }
        }
    </style>
<div class="container" id="home">
    <div class="row align-items-center my-5">
        <div class="col-md-4">
            <img class="img-fluid mx-auto d-block" src="assets/portrait.png" width="300">
        </div>
        <div class="col-md-8">
            <div class="profile">
                <h1 class="mb-3">Urchade Zaratiana</h1>
                <p>I am a PhD student at <strong>Laboratoire Informatique de Paris Nord (LIPN)</strong>, under the supervision of <strong>Nadi Tomeh</strong> and <strong>Thierry Charnois</strong>. My research focuses on <em>structured prediction for Natural Language Processing</em>.</p>
                <p>I am interested in the science of deep learning in general, including topics such as <em>domain generalization</em>, <em>zero/few-shot learning</em>, <em>instruction tuning</em>, <em>learning under noisy data/labels</em>, <em>scaling laws</em>, and <em>intriguing phenomenons such as the 'double descent', the 'grokking mechanism' and the 'simplicity bias'</em>.</p>
                <p>During my PhD, I have worked on the following research problems:</p>
                <ul>
                    <li><strong>Language model pretraining</strong><br>
                        Training a BERT-like model without positional encoding (<a href="https://openreview.net/forum?id=5sLIuaW5wT">ICLR 2024 Tiny Paper</a>)
                    </li>
                    <li><strong>Constrained decoding of language model (2022-)</strong><br>
                        Autoregressive text to graph model for Information extraction: preliminary version published at ICML 2023 workshop (<a href="https://openreview.net/forum?id=5sLIuaW5wT">Link</a>), and final version at AAAI 2024 (<a href="https://ojs.aaai.org/index.php/AAAI/article/view/29919">Link</a>)
                    </li>
                    <li><strong>Detection of machine-generated text</strong><br>
                        Our system ranked top 2 at SemEval "Multidomain, Multimodel and Multilingual Machine-Generated Text Detection" shared task using 300M parameters model. Top 1 used a 70b model. (<a href="https://aclanthology.org/2024.semeval-1.170/">Link</a>)
                    </li>
                    <li><strong>Efficient and exact decoding for information extraction</strong><br>
                        <ul>
                            <li>Named Entity Recognition as Structured Span Prediction (<a href="https://aclanthology.org/2022.umios-1.1/">Link</a>)</li>
                            <li>EnriCO: Constrained decoding of information extraction using logical rules. (<a href="https://arxiv.org/abs/2404.12493">Link</a>)</li>
                        </ul>
                    </li>
                    <li><strong>Graph (structure) learning</strong><br>
                        <ul>
                            <li>GraphER: End-to-end graph structure learning of joint entity and relation extraction (<a href="https://arxiv.org/html/2404.12491v1">Link</a>)</li>
                            <li>GNNer: using graph (and Graph Neural Network) to implicitly constrain the output of neural network (<a href="https://aclanthology.org/2022.acl-srw.9/">Link</a>)</li>
                        </ul>
                    </li>
                    <li><strong>Improved training algorithm (loss functions)</strong><br>
                        <ul>
                            <li>Filtered Semi-CRF (<a href="https://aclanthology.org/2023.findings-emnlp.17/">Link</a>)</li>
                            <li>Global Span Selection (<a href="https://aclanthology.org/2022.umios-1.2/">Link</a>)</li>
                        </ul>
                    </li>
                    <li><strong>Arabic Information extraction</strong><br>
                        <ul>
                            <li>Cross-Dialectal Named Entity Recognition in Arabic (<a href="https://aclanthology.org/2023.arabicnlp-1.12/">Link</a>)</li>
                            <li>A Span-Based Approach for Flat and Nested Arabic Named Entity Recognition: Top 1 system at Wojood NER shared task (<a href="https://aclanthology.org/2023.arabicnlp-1.89/">Link</a>)</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container py-5" id="research">
    <h2 class="mb-4">Research</h2>
    <!-- Conference Publications Section -->
    <h3 class="mb-4">Conference Publications</h3>
    <div class="accordion" id="conferencePublications">
        {% for project in site.data.projects %}
        {% if project.type == 'conference' %}
        <div class="card">
            <div class="card-header" id="heading{{ project.id }}">
                <h5 class="mb-0">
                    <div class="clickable-element" data-toggle="collapse" data-target="#collapse{{ project.id }}" aria-expanded="false" aria-controls="collapse{{ project.id }}">
    {{ project.title }}
</div>
                      <small class="text-muted">{{ project.venue }}</small>
                </h5>
            </div>
            <div id="collapse{{ project.id }}" class="collapse" aria-labelledby="heading{{ project.id }}" data-parent="#conferencePublications">
                <div class="card-body row">
                    {% if project.image %}
                    <div class="col-md-3">
                        <img src="{{ project.image }}" class="img-fluid" alt="Publication Image">
                    </div>
                    <div class="col-md-9">
                    {% else %}
                    <div class="col-12">
                    {% endif %}
                        <div class="authors mb-2">
                        {% for author in project.authors %}
                        {% if author.website %}
                        <a href="{{ author.website }}">{{ author.name }}</a>
                        {% else %}
                        {{ author.name }}
                        {% endif %}
                        {% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div class="project-links mb-2">
                        {% if project.paper %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.paper }}>Paper</a> {% endif %}
                        {% if project.poster %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.poster }}>Poster</a> {% endif %}
                        {% if project.github %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.github }}>Code</a> {% endif %}
                        {% if project.dataset %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.dataset }}>Dataset</a> {% endif %}
                    </div>
                    <p class="text-justify">
                        {{ project.abstract }}
                    </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
          <!-- Conference Publications Section -->
    <h3 class="mb-4  mt-5">Work in progress</h3>
    <div class="accordion" id="conferencePublications">
        {% for project in site.data.projects %}
        {% if project.type == 'preprint' %}
        <div class="card">
            <div class="card-header" id="heading{{ project.id }}">
                <h5 class="mb-0">
                    <div class="clickable-element" data-toggle="collapse" data-target="#collapse{{ project.id }}" aria-expanded="false" aria-controls="collapse{{ project.id }}">
    {{ project.title }}
</div>
                      <small class="text-muted">{{ project.venue }}</small>
                </h5>
            </div>
            <div id="collapse{{ project.id }}" class="collapse" aria-labelledby="heading{{ project.id }}" data-parent="#conferencePublications">
                <div class="card-body row">
                    {% if project.image %}
                    <div class="col-md-3">
                        <img src="{{ project.image }}" class="img-fluid" alt="Publication Image">
                    </div>
                    <div class="col-md-9">
                    {% else %}
                    <div class="col-12">
                    {% endif %}
                        <div class="authors mb-2">
                        {% for author in project.authors %}
                        {% if author.website %}
                        <a href="{{ author.website }}">{{ author.name }}</a>
                        {% else %}
                        {{ author.name }}
                        {% endif %}
                        {% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div class="project-links mb-2">
                        {% if project.paper %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.paper }}>Paper</a> {% endif %}
                        {% if project.poster %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.poster }}>Poster</a> {% endif %}
                        {% if project.github %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.github }}>Code</a> {% endif %}
                        {% if project.dataset %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.dataset }}>Dataset</a> {% endif %}
                    </div>
                    <p class="text-justify">
                        {{ project.abstract }}
                    </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!-- Workshop Publications Section -->
    <h3 class="mb-4  mt-5">Workshop Publications</h3>
    <div class="accordion" id="workshopPublications">
        {% for project in site.data.projects %}
        {% if project.type == 'workshop' %}
        <div class="card">
            <div class="card-header" id="heading{{ project.id }}">
                <h5 class="mb-0">
                    <div class="clickable-element" data-toggle="collapse" data-target="#collapse{{ project.id }}" aria-expanded="false" aria-controls="collapse{{ project.id }}">
    {{ project.title }}
</div>
                  <small class="text-muted">{{ project.venue }}</small>
                </h5>
            </div>
            <div id="collapse{{ project.id }}" class="collapse" aria-labelledby="heading{{ project.id }}" data-parent="#workshopPublications">
                <div class="card-body row">
                    {% if project.image %}
                    <div class="col-md-3">
                        <img src="{{ project.image }}" class="img-fluid" alt="Publication Image">
                    </div>
                    <div class="col-md-9">
                    {% else %}
                    <div class="col-12">
                    {% endif %}
                        <div class="authors mb-2">
                        {% for author in project.authors %}
                        {% if author.website %}
                        <a href="{{ author.website }}">{{ author.name }}</a>
                        {% else %}
                        {{ author.name }}
                        {% endif %}
                        {% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div class="project-links mb-2">
                        {% if project.paper %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.paper }}>Paper</a> {% endif %}
                        {% if project.poster %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.poster }}>Poster</a> {% endif %}
                        {% if project.github %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.github }}>Code</a> {% endif %}
                        {% if project.dataset %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.dataset }}>Dataset</a> {% endif %}
                    </div>
                    <p class="text-justify">
                        {{ project.abstract }}
                    </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="container py-5" id="contact">
    <h2 class="mb-4">Contact</h2>
    <ul class="list-unstyled">
        <li class="media mb-3">
            <i class="fas fa-envelope fa-lg mr-3"></i>
            <div class="media-body">
                <a href="mailto:zaratiana@lipn.fr">Email: zaratiana@lipn.fr</a>
            </div>
        </li>
        <li class="media mb-3">
            <i class="fab fa-github fa-lg mr-3"></i>
            <div class="media-body">
                <a href="https://github.com/urchade">GitHub: urchade</a>
            </div>
        </li>
        <li class="media mb-3">
            <i class="fab fa-linkedin fa-lg mr-3"></i>
            <div class="media-body">
                <a href="https://www.linkedin.com/in/urchade-zaratiana-36ba9814b">LinkedIn: Urchade Zaratiana</a>
            </div>
        </li>
        <li class="media mb-3">
            <i class="fab fa-google fa-lg mr-3"></i>
            <div class="media-body">
                <a href="https://scholar.google.com/citations?hl=en&user=nQTXsu4AAAAJ">Google Scholar: Urchade Zaratiana</a>
            </div>
        </li>
    </ul>
</div>

