---
layout: default
title: "Urchade Zaratiana"
---

<style>
    .card {
        margin-bottom: 1rem; /* Space between cards */
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">Urchade Zaratiana &#x1F1F2;&#x1F1EC;</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#research">Research</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" id="home">
    <div class="row align-items-center my-5">
        <div class="col-md-4">
            <img class="img-fluid mx-auto d-block" src="assets/portrait.png" width="300">
        </div>
        <div class="col-md-8">
            <div class="card shadow p-4">
                <h1 class="mb-3">Urchade Zaratiana</h1>
                <h4 class="mb-3 text-muted">PhD Student at LIPN</h4>
                <p class="text-justify">
                    I am a PhD student at Laboratoire Informatique de Paris Nord (LIPN) under the supervision of Nadi Tomeh and Thierry Charnois.
                My research focuses on structured prediction for Natural Language Processing.
                </p>
            </div>
        </div>
    </div>
</div>



<div class="container py-5" id="research">
    <h2 class="mb-4">Research</h2>

    <!-- Conference Publications Section -->
    <h3 class="mb-4">Conference Publications</h3>
    <div class="accordion" id="conferencePublications">
        {% for project in site.data.projects %}
        {% if project.type == 'conference' %}
        <div class="card">
            <div class="card-header" id="heading{{ project.id }}">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ project.id }}" aria-expanded="false" aria-controls="collapse{{ project.id }}">
                        {{ project.title }} 
                    </button> <br> 
                      <small class="text-muted">{{ project.venue }}</small>
                </h5>
            </div>
            <div id="collapse{{ project.id }}" class="collapse" aria-labelledby="heading{{ project.id }}" data-parent="#conferencePublications">
                <div class="card-body row">
                    {% if project.image %}
                    <div class="col-md-3">
                        <img src="{{ project.image }}" class="img-fluid" alt="Publication Image">
                    </div>
                    <div class="col-md-9">
                    {% else %}
                    <div class="col-12">
                    {% endif %}
                        <div class="authors mb-2">
                        {% for author in project.authors %}
                        {% if author.website %}
                        <a href="{{ author.website }}">{{ author.name }}</a>
                        {% else %}
                        {{ author.name }}
                        {% endif %}
                        {% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div class="project-links mb-2">
                        {% if project.paper %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.paper }}>Paper</a> {% endif %}
                        {% if project.poster %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.poster }}>Poster</a> {% endif %}
                        {% if project.github %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.github }}>Code</a> {% endif %}
                        {% if project.dataset %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.dataset }}>Dataset</a> {% endif %}
                    </div>
                    <p class="text-justify">
                        {{ project.abstract }}
                    </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

          <!-- Conference Publications Section -->
    <h3 class="mb-4  mt-5">Work in progress</h3>
    <div class="accordion" id="conferencePublications">
        {% for project in site.data.projects %}
        {% if project.type == 'preprint' %}
        <div class="card">
            <div class="card-header" id="heading{{ project.id }}">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ project.id }}" aria-expanded="false" aria-controls="collapse{{ project.id }}">
                        {{ project.title }} 
                    </button> <br> 
                      <small class="text-muted">{{ project.venue }}</small>
                </h5>
            </div>
            <div id="collapse{{ project.id }}" class="collapse" aria-labelledby="heading{{ project.id }}" data-parent="#conferencePublications">
                <div class="card-body row">
                    {% if project.image %}
                    <div class="col-md-3">
                        <img src="{{ project.image }}" class="img-fluid" alt="Publication Image">
                    </div>
                    <div class="col-md-9">
                    {% else %}
                    <div class="col-12">
                    {% endif %}
                        <div class="authors mb-2">
                        {% for author in project.authors %}
                        {% if author.website %}
                        <a href="{{ author.website }}">{{ author.name }}</a>
                        {% else %}
                        {{ author.name }}
                        {% endif %}
                        {% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div class="project-links mb-2">
                        {% if project.paper %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.paper }}>Paper</a> {% endif %}
                        {% if project.poster %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.poster }}>Poster</a> {% endif %}
                        {% if project.github %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.github }}>Code</a> {% endif %}
                        {% if project.dataset %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.dataset }}>Dataset</a> {% endif %}
                    </div>
                    <p class="text-justify">
                        {{ project.abstract }}
                    </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Workshop Publications Section -->
    <h3 class="mb-4  mt-5">Workshop Publications</h3>
    <div class="accordion" id="workshopPublications">
        {% for project in site.data.projects %}
        {% if project.type == 'workshop' %}
        <div class="card">
            <div class="card-header" id="heading{{ project.id }}">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ project.id }}" aria-expanded="false" aria-controls="collapse{{ project.id }}">
                        {{ project.title }} 
                    </button>
                  <br>  <small class="text-muted">{{ project.venue }}</small>
                </h5>
            </div>
            <div id="collapse{{ project.id }}" class="collapse" aria-labelledby="heading{{ project.id }}" data-parent="#workshopPublications">
                <div class="card-body row">
                    {% if project.image %}
                    <div class="col-md-3">
                        <img src="{{ project.image }}" class="img-fluid" alt="Publication Image">
                    </div>
                    <div class="col-md-9">
                    {% else %}
                    <div class="col-12">
                    {% endif %}
                        <div class="authors mb-2">
                        {% for author in project.authors %}
                        {% if author.website %}
                        <a href="{{ author.website }}">{{ author.name }}</a>
                        {% else %}
                        {{ author.name }}
                        {% endif %}
                        {% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div class="project-links mb-2">
                        {% if project.paper %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.paper }}>Paper</a> {% endif %}
                        {% if project.poster %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.poster }}>Poster</a> {% endif %}
                        {% if project.github %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.github }}>Code</a> {% endif %}
                        {% if project.dataset %} <a class="btn btn-outline-secondary mr-2" target="_blank" href={{ project.dataset }}>Dataset</a> {% endif %}
                    </div>
                    <p class="text-justify">
                        {{ project.abstract }}
                    </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>



<div class="container py-5" id="contact">
    <h2 class="mb-4">Contact</h2>
    <ul class="list-unstyled">
        <li class="media mb-3">
            <i class="fas fa-envelope fa-lg mr-3"></i>
            <div class="media-body">
                <a href="mailto:zaratiana@lipn.fr">Email: zaratiana@lipn.fr</a>
            </div>
        </li>
        <li class="media mb-3">
            <i class="fab fa-github fa-lg mr-3"></i>
            <div class="media-body">
                <a href="https://github.com/urchade">GitHub: urchade</a>
            </div>
        </li>
        <li class="media mb-3">
            <i class="fab fa-linkedin fa-lg mr-3"></i>
            <div class="media-body">
                <a href="https://www.linkedin.com/in/urchade-zaratiana-36ba9814b">LinkedIn: Urchade Zaratiana</a>
            </div>
        </li>
        <li class="media mb-3">
            <i class="fab fa-google fa-lg mr-3"></i>
            <div class="media-body">
                <a href="https://scholar.google.com/citations?hl=en&user=nQTXsu4AAAAJ">Google Scholar: Urchade Zaratiana</a>
            </div>
        </li>
    </ul>
</div>

